.container1 {
margin-left: 20px;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.button-group {
  margin-bottom: 20px;
}

.button-group button {
  border: 1px solid #005B96;
  background-color: white;
  color: #005B96;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
 
  transition: background-color 0.3s;
}

.nav {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #282B2E;
  margin-right: 20px;
  padding: 5px;
 
  transition: border-bottom 0.3s;
}

.nav a:hover {
  border-bottom: 2px solid #0073e6;
}

.nav a img {
  margin-right: 5px;
}
